MONGODB_URI=mongodb+srv://kumaramit14singh_db_user:0K85QmDfl6tl0nEP@cluster0.rizfmdf.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=smart_campus_lost_found
JWT_SECRET=KLNrVxaeRJB8dNYXr5xvxubpBGUXn37sQ5z8MZtyAAANXKh8030X7ZQIpTkZkFM4lhO6U5A7xtHj7sVswbtAPr
JWT_REFRESH_SECRET=0iRWKWo7XkeGmuC848vCFbx8HrMsivkrqJoTekEibmyeQt1CvhFHarijKirK/OsosgWI0r/gv7d5utjQ/Xz+aw==
CLOUDINARY_CLOUD_NAME=xxcy7see
CLOUDINARY_API_KEY=979295638665729
CLOUDINARY_API_SECRET=TLLVimq0Fpria6-f6Wqa3J1YYJQ
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=kumaramit.14singh@gmail.com
EMAIL_PASSWORD=Isexvltpheauejw
FRONTEND_URL=http://localhost:5173
ALLOWED_EMAIL_DOMAIN=campus.edu

# Flask config
FLASK_ENV=development
DEBUG=True
MAX_CONTENT_LENGTH=16777216
RATE_LIMIT_DEFAULT=200/day
